<md-dialog aria-label="Mango (Fruit)">
  <md-toolbar>
    <div class="md-toolbar-tools" layout-align="center center">
    	<span class="md-flex">Historial de Direcciones</span>
    </div>
  </md-toolbar>
  <md-content>

    <md-subheader class="md-primary">Direcciones de Recogida</md-subheader>
    <md-list>	
      <!-- <md-item ng-repeat="item in todos"> -->
	      <md-item>
	        <md-item-content>
	          <div class="md-tile-content">
	            <p>
	              calle 125 #45-98
	            </p>
	          </div>
	        </md-item-content>
	        <md-divider inset></md-divider>
	      </md-item>
          <md-divider inset></md-divider>
      </md-item>
    </md-list>

	<md-subheader class="md-primary">Direcciones de Entrega</md-subheader>
    <md-list>	
      <!-- <md-item ng-repeat="item in todos"> -->
	      <md-item>
	        <md-item-content>
	          <div class="md-tile-content">
	            <p>
	              carrera 14 #3-76
	            </p>
	          </div>
	        </md-item-content>
	        <md-divider inset></md-divider>
	      </md-item>
          <md-divider inset></md-divider>
      </md-item>
    </md-list>	

  </md-content>
</md-dialog>