<div layout="column" layout-align="center center" class="solo-box">
	<md-card class="basic-form">
		<div>
			<md-toolbar>
			    <div class="md-toolbar-tools" layout-align="center center">
			    	<span class="md-flex">Cambiar Contraseña</span>
			    </div>
			  </md-toolbar>
		</div>
	    <div>
			<form name="changePassForm" ng-submit="model.loginUser()" novalidate>
				<md-input-container flex>
					<label>Escriba su antigua contraseña</label>
	            	<input type="Password" name="oldPass" ng-model="model.oldPass" required>
	            	
	        	</md-input-container>
	        	<md-input-container flex>
					<label>Ingrese la nueva contraseña</label>
	            	<input type="Password" name="newPass" ng-model="model.newPass" required>
	            	
	        	</md-input-container>
	        	<md-input-container flex>
					<label>Repita la nueva contraseña</label>
	            	<input type="password" name="repeatNewPassword" ng-model="model.repeatNewPass" required>
	            	
	        	</md-input-container>
	        	
	        	<md-input-container flex>
	        		<md-button class="md-raised primary-btn" ng-click="model.changePass()" >Cambiar</md-button>
	        	</md-input-container>
			</form>
	    </div>
	</md-card>
</div>