<div class="content-files-upload" ng-if="model.step == 1">
	<div class="content clearfix">
		<h3>PASO 1</h3>
		<div class="text-center">
			<div class="pic-container">
				<img ng-show="model.filesUploaded.license" src="https://cdn0.iconfinder.com/data/icons/cloudcon/512/689079-mark-512.png" >
			</div>
			<i ng-show="model.filesUploaded.license">{{model.filesUploaded.license}}</i>
		</div>

		<h3>TOMA UNA FOTO DE TU LICENCIA DE CONDUCCIÓN POR LA CARA FRONTAL</h3>
		<span>Verifique que esté vigente</span>

		<div class="text-center">
			<button ng-disabled="model.step == 1" ng-click="model.backStep()" class="button btn btn-default btn-large pull-left">
				Anterior
			</button>

			<button ng-if="model.filesUploaded.license" ng-click="model.nextStep()" class="button btn btn-success btn-large no-float maring-center">
				Siguiente Archivo
			</button>

			<button id="uploadLicense" ng-disabled="model.uploadingFile" ng-replicate-click="#licenseFile" class="button btn btn-success btn-large pull-right">
				Subir archivo
				<i ng-show="model.uploadingFile" class="icon-spinner icon-spin icon-large"></i>
			</button>

		</div>
		<input class="hidden" id="licenseFile" type="file" name="file" ng-file-selector on-change="model.selectFileLicense">
	</div>
</div>

<div class="content-files-upload" ng-if="model.step == 2">
	<div class="content clearfix">
	<h3>PASO 2</h3>
		<div class="text-center">
			<div class="pic-container">
				<img ng-show="model.filesUploaded.identification" src="https://cdn0.iconfinder.com/data/icons/cloudcon/512/689079-mark-512.png" >
			</div>
			<i ng-show="model.filesUploaded.identification">{{model.filesUploaded.identification}}</i>
		</div>

		<h3>TOMA UNA FOTO DE TU CÉDULA</h3>
		<span>Verifique que toda la información se vea bien</span>

		<div class="text-center">
			<button ng-click="model.backStep()" class="button btn btn-default btn-large pull-left">
				Anterior
			</button>

			<button ng-if="model.filesUploaded.identification" ng-click="model.nextStep()" class="button btn btn-success btn-large no-float maring-center">
				Siguiente Archivo
			</button>

			<button ng-disabled="model.uploadingFile" ng-replicate-click="#identificationFile" class="button btn btn-success btn-large pull-right">
				Subir archivo
				<i ng-show="model.uploadingFile" class="icon-spinner icon-spin icon-large"></i>
			</button>

		</div>
		<input id="identificationFile" class="hidden" type="file" name="file" ng-file-selector on-change="model.selectFileIdentification">
	</div>
</div>

<div class="content-files-upload" ng-if="model.step == 3">
	<div class="content clearfix">
		<h3>PASO 3</h3>
		<div class="text-center">
			<div class="pic-container">
				<img ng-show="model.filesUploaded.soat" src="https://cdn0.iconfinder.com/data/icons/cloudcon/512/689079-mark-512.png" >
			</div>
			<i ng-show="model.filesUploaded.soat">{{model.filesUploaded.soat}}</i>
		</div>

		<h3>TOMA UNA FOTO DE TU SOAT POR LAS DOS CARAS</h3>
		<span>Verifique que esté vigente</span>

		<div class="text-center">
			<button ng-click="model.backStep()" class="button btn btn-default btn-large pull-left">
				Anterior
			</button>

			<button ng-if="model.filesUploaded.soat" ng-click="model.nextStep()" class="button btn btn-success btn-large no-float maring-center">
				Siguiente Archivo
			</button>

			<button ng-disabled="model.uploadingFile" ng-replicate-click="#soatFile" class="button btn btn-success btn-large pull-right">
				Subir archivo
				<i ng-show="model.uploadingFile" class="icon-spinner icon-spin icon-large"></i>
			</button>

		</div>
		<input id="soatFile" class="hidden" type="file" name="file" ng-file-selector on-change="model.selectFileSoat">
	</div>
</div>

<div class="content-files-upload" ng-if="model.step == 4">
	<div class="content clearfix">
		<h3>PASO 4</h3>
		<div class="text-center">
			<div class="pic-container">
				<img ng-show="model.filesUploaded.propertyCard" src="https://cdn0.iconfinder.com/data/icons/cloudcon/512/689079-mark-512.png" >
			</div>
			<i ng-show="model.filesUploaded.propertyCard">{{model.filesUploaded.propertyCard}}</i>
		</div>

		<h3>TOMA UNA FOTO DE TU TARJETA DE PROPIEDAD POR LA CARA FRONTAL</h3>
		<span>Verifique que toda la información se vea bien</span>

		<div class="text-center">
			<button ng-click="model.backStep()" class="button btn btn-default btn-large pull-left">
				Anterior
			</button>

			<button ng-if="model.filesUploaded.propertyCard" ng-click="model.nextStep()" class="button btn btn-success btn-large no-float maring-center">
				Siguiente Archivo
			</button>

			<button ng-disabled="model.uploadingFile" ng-replicate-click="#propertyCartdFile" class="button btn btn-success btn-large pull-right">
				Subir archivo
				<i ng-show="model.uploadingFile" class="icon-spinner icon-spin icon-large"></i>
			</button>

		</div>
		<input id="propertyCartdFile" class="hidden" type="file" name="file" ng-file-selector on-change="model.selectFilePropertyCartdFile">
	</div>
</div>

<div class="content-files-upload" ng-if="model.step == 5">
	<div class="content clearfix">
		<h3>PASO 5</h3>
		<div class="text-center">
			<div class="pic-container">
				<img ng-show="model.filesUploaded.photo" src="https://cdn0.iconfinder.com/data/icons/cloudcon/512/689079-mark-512.png" >
			</div>
			<i ng-show="model.filesUploaded.photo">{{model.filesUploaded.photo}}</i>
		</div>

		<h3>TOMA UNA FOTO DEL VEHICULO CON LA PLACA VISIBLE</h3>
		<span>Verifique que la placa se vea bien</span>

		<div class="text-center">
			<button ng-click="model.backStep()" class="button btn btn-default btn-large pull-left">
				Anterior
			</button>

			<button ng-if="model.filesUploaded.photo" ng-click="model.nextStep()" class="button btn btn-success btn-large no-float maring-center">
				Siguiente Archivo
			</button>

			<button ng-disabled="model.uploadingFile" ng-replicate-click="#photoFile" class="button btn btn-success btn-large pull-right">
				Subir archivo
				<i ng-show="model.uploadingFile" class="icon-spinner icon-spin icon-large"></i>
			</button>

		</div>
		<input id="photoFile" class="hidden" type="file" name="file" ng-file-selector on-change="model.selectFilePhotoFile">
	</div>
</div>

<div class="content-files-upload" ng-if="model.step == 6">
	<div class="content clearfix">
		<h3>PROCESO FINALIZADO!</h3>
		<h2 class="text-center">
			Estamos revisando tus documentos, en breve te
			contactaremos para finalizar tu registro.
		</h2>

		<div class="text-center">
			<button ng-click="model.finishProcess()" class="button btn btn-success btn-large pull-right">
				Finalizar
			</button>
		</div>
	</div>
</div>
<!--- div para finalizar --->
