<div class="modal fade billing-container" style="top:180px;" id="addBilling" role="dialog" ng-controller="DVAddCreditCardController as model">
	<div class="content clearfix model-dialog" role="document">
		<form class="form-horizontal modal-content" role="form" name="addBilingForm" novalidate>
			<fieldset>
				<legend>Agregar Medio de Pago</legend>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="card-holder-first-name">Nombres Titular</label>
					<div class="col-sm-6">
						<input type="text" ng-model="model.billingInformation.cardHolderFirstName" class="form-control" ng-pattern="/^[a-zA-Z ]+$/" name="cardHolderFirstName" id="card-holder-first-name" maxlength="50" placeholder="Nombres" required>
					</div>
				</div>
				<p ng-show="(addBilingForm.cardHolderFirstName.$error.pattern || addBilingForm.cardHolderFirstName.$invalid) && !addBilingForm.cardHolderFirstName.$pristine" class="text-danger info-fix">Nombre invalido.</p>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="card-holder-last-name">Apellidos Titular</label>
					<div class="col-sm-6">
						<input type="text" ng-model="model.billingInformation.cardHolderLastName" class="form-control" ng-pattern="/^[a-zA-Z ]+$/" name="cardHolderLastName" id="card-holder-last-name" maxlength="50" placeholder="Apellidos" required>
					</div>
				</div>
				<p ng-show="(addBilingForm.cardHolderLastName.$error.pattern || addBilingForm.cardHolderLastName.$invalid) && !addBilingForm.cardHolderLastName.$pristine" class="text-danger info-fix">Apellidos invalidos.</p>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="card-holder-doc">Documento Titular</label>
					<div class="col-sm-2">
						<select class="form-control col-sm-2" ng-init="model.billingInformation.cardHolderDocType='CC'" ng-model="model.billingInformation.cardHolderDocType" name="docType" id="doc_type" required ng-change="addBilingForm.docNumber.$validate()">
							<option value="CC">CC</option>
							<option value="CE">CE</option>
							<option value="TI">TI</option>
							<option value="NIT">NIT</option>
							<option value="PPN">Pasaporte</option>
						</select>
					</div>
					<div class="col-sm-4">
						<input type="text" ng-model="model.billingInformation.cardHolderDocNumber" class="form-control" name="docNumber" id="card-holder-doc" ng-pattern="docNumberPatternValidator" placeholder="Num. Documento" required>
					</div>
				</div>
				<p ng-show="(addBilingForm.docNumber.$error.pattern || addBilingForm.docNumber.$invalid) && !addBilingForm.docNumber.$pristine" class="text-danger info-fix">Ingresa un número de documento válido.</p>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="card-holder-email">Email Titular</label>
					<div class="col-sm-6">
						<input type="text" ng-model="model.billingInformation.cardHolderEmail"
							   class="form-control" name="cardHolderEmail"
							   id="card-holder-email" maxlength="50"
							   ng-pattern="/^[A-Za-z0-9._%+]+@[A-Za-z0-9]+\.[A-Za-z]{1,5}$/" placeholder="Correo Electrónico"
							   required>
					</div>
				</div>
				<p ng-show="(addBilingForm.cardHolderEmail.$error.pattern || addBilingForm.cardHolderEmail.$invalid) && !addBilingForm.cardHolderEmail.$pristine" class="text-danger info-fix">Ingresa un correo electrónico válido.</p>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="card-holder-city">Ciudad Titular</label>
					<div class="col-sm-6">
						<input type="text" ng-model="model.billingInformation.cardHolderCity" class="form-control" ng-pattern="/^[a-zA-Z ]+$/" name="cardHolderCity" id="card-holder-city" maxlength="50" placeholder="Ciudad Residencia" required>
					</div>
				</div>
				<p ng-show="(addBilingForm.cardHolderCity.$error.pattern || addBilingForm.cardHolderCity.$invalid) && !addBilingForm.cardHolderCity.$pristine" class="text-danger info-fix">Ciudad invalida.</p>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="card-holder-address">Dirección Titular</label>
					<div class="col-sm-6">
						<input type="text" ng-model="model.billingInformation.cardHolderAddress" class="form-control" name="card-holder-address" id="card-holder-address" maxlength="50" placeholder="Dirección" required=>
					</div>
				</div>
				<div class="form-group" ng-if="!model.isEditing">
					<label class="col-sm-4 control-label" for="card-number">Número de Tarjeta</label>
					<div class="col-sm-6">
						<input type="text" ng-model="model.billingInformation.cardNumber" ng-blur="model.getFranchise(model.billingInformation.cardNumber)" ng-pattern="/^([0-9]| )+$/" minlength="13" maxlength="16" class="form-control" name="cardNumber" id="card-number" placeholder="Número tarjeta" required>
					</div>
					<!--<img src="http://icons.iconarchive.com/icons/glyphish/glyphish/32/192-credit-card-icon.png">-->
					<img src="assets/img/billing/american.png" ng-show="model.currentFranchise === 'AMEX'">
					<img src="assets/img/billing/dinners.png" ng-show="model.currentFranchise === 'DINERS'">
					<img src="assets/img/billing/mastercard.png" ng-show="model.currentFranchise === 'MASTERCARD'">
					<img src="assets/img/billing/visa.png" ng-show="model.currentFranchise === 'VISA'">
					<img src="assets/img/billing/visaelectron.png" ng-show="model.currentFranchise === 'VE'">
					<input type="hidden" ng_model="model.currentFranchise" required/>
				</div>
				<p ng-show="(addBilingForm.cardNumber.$error.pattern || !model.currentFranchise) && !addBilingForm.cardNumber.$pristine" class="text-danger info-fix">Ingresa un número de tarjeta válido.</p>
				<div class="form-group">
					<label class="col-sm-4 control-label fix-label" for="expiry-month">Fecha Vencimiento</label>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-5">
								<select class="form-control col-sm-2" ng-model="model.billingInformation.expiryMonth" name="expiry-month" id="expiry-month" required>
									<option value="01">Ene (01)</option>
									<option value="02">Feb (02)</option>
									<option value="03">Mar (03)</option>
									<option value="04">Abr (04)</option>
									<option value="05">May (05)</option>
									<option value="06">Jun (06)</option>
									<option value="07">Jul (07)</option>
									<option value="08">Ago (08)</option>
									<option value="09">Sep (09)</option>
									<option value="10">Oct (10)</option>
									<option value="11">Nov (11)</option>
									<option value="12">Dic (12)</option>
								</select>
							</div>
							<div class="col-xs-5">
								<select class="form-control" ng-model="model.billingInformation.expiryYear" name="expiry-year" required>
									<option value="16">2016</option>
									<option value="17">2017</option>
									<option value="18">2018</option>
									<option value="19">2019</option>
									<option value="20">2020</option>
									<option value="21">2021</option>
									<option value="22">2022</option>
									<option value="23">2023</option>
									<option value="24">2024</option>
									<option value="25">2025</option>
									<option value="26">2026</option>
									<option value="27">2027</option>
									<option value="28">2028</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="cvv">Código CVV</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-pattern="/^([0-9]| )+$/" minlength="3" maxlength="4" ng-model="model.billingInformation.securityCode" name="cvv" id="cvv" placeholder="Código seguridad" required>
					</div>
				</div>
				<p ng-show="addBilingForm.cvv.$error.pattern && !addBilingForm.cvv.$pristine" class="text-danger info-fix">Ingresa un código de seguridad válido.</p>
				<legend></legend>
				<p ng-show="model.showErrorMessage" class="text-danger info-fix">{{model.errorMessage}}</p>
				<div class="form-group">
					<div class="add-block-button col-sm-9">
						<button type="button" class="btn btn-success" ng-click="model.addBillingInformation(model.billingInformation)" ng-disabled="addBilingForm.$invalid">Agregar</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="model.cancelAction()">Cancelar</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>