<div class="modal fade billing-container" id="addBilling" role="dialog" ng-controller="DVAddCreditCardController as model">
	<div class="content clearfix model-dialog" role="document">
		<form class="form-horizontal modal-content" role="form" name="addBilingForm" novalidate>
			<fieldset>
				<legend>Medio de Pago</legend>
				<!--<div class="form-group">
                    <label class="col-sm-4 control-label" for="card-holder-name">Titular de Tarjeta</label>
                    <div class="col-sm-6">
                      <input type="text" ng-model="model.billingInformation.cardHolderName" class="form-control" name="card-holder-name" id="card-holder-name" maxlength="50" placeholder="Titular tarjeta">
                    </div>
                  </div>-->
				<div class="form-group" ng-if="!model.isEditing">
					<label class="col-sm-4 control-label" for="card-number">Número de Tarjeta</label>
					<div class="col-sm-6">
						<input type="text" ng-model="model.billingInformation.cardNumber" ng-blur="model.getFranchise(model.billingInformation.cardNumber)" ng-pattern="/^([0-9]| )+$/" minlength="13" maxlength="16" class="form-control" name="cardNumber" id="card-number" placeholder="Número tarjeta" required>
					</div>
					<!--<img src="http://icons.iconarchive.com/icons/glyphish/glyphish/32/192-credit-card-icon.png">-->
					<img src="assets/img/billing/american.png" ng-show="model.currentFranchise === 'AMEX'">
					<img src="assets/img/billing/dinners.png" ng-show="model.currentFranchise === 'DINERS'">
					<img src="assets/img/billing/mastercard.png" ng-show="model.currentFranchise === 'MASTERCARD'">
					<img src="assets/img/billing/visa.png" ng-show="model.currentFranchise === 'VISA'">
					<img src="assets/img/billing/visaelectron.png" ng-show="model.currentFranchise === 'VE'">
					<input type="hidden" ng_model="model.currentFranchise" required/>
				</div>
				<p ng-show="(addBilingForm.cardNumber.$error.pattern || !model.currentFranchise) && !addBilingForm.cardNumber.$pristine" class="text-danger info-fix">Ingresa un número de tarjeta válido.</p>
				<div class="form-group">
					<label class="col-sm-4 control-label fix-label" for="expiry-month">Fecha Vencimiento</label>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-xs-5">
								<select class="form-control col-sm-2" ng-model="model.billingInformation.expiryMonth" name="expiry-month" id="expiry-month" required>
									<option value="01">Ene (01)</option>
									<option value="02">Feb (02)</option>
									<option value="03">Mar (03)</option>
									<option value="04">Abr (04)</option>
									<option value="05">May (05)</option>
									<option value="06">Jun (06)</option>
									<option value="07">Jul (07)</option>
									<option value="08">Ago (08)</option>
									<option value="09">Sep (09)</option>
									<option value="10">Oct (10)</option>
									<option value="11">Nov (11)</option>
									<option value="12">Dic (12)</option>
								</select>
							</div>
							<div class="col-xs-5">
								<select class="form-control" ng-model="model.billingInformation.expiryYear" name="expiry-year" required>
									<option value="15">2015</option>
									<option value="16">2016</option>
									<option value="17">2017</option>
									<option value="18">2018</option>
									<option value="19">2019</option>
									<option value="20">2020</option>
									<option value="21">2021</option>
									<option value="22">2022</option>
									<option value="23">2023</option>
									<option value="24">2024</option>
									<option value="25">2525</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="cvv">Código CVV</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-pattern="/^([0-9]| )+$/" minlength="3" maxlength="4" ng-model="model.billingInformation.securityCode" name="cvv" id="cvv" placeholder="Código seguridad" required>
					</div>
				</div>
				<p ng-show="addBilingForm.cvv.$error.pattern && !addBilingForm.cvv.$pristine" class="text-danger info-fix">Ingresa un código de seguridad válido.</p>
				<legend></legend>
				<p ng-show="model.showErrorMessage" class="text-danger info-fix">{{model.errorMessage}}</p>
				<div class="form-group">
					<div class="add-block-button col-sm-9">
						<button type="button" class="btn btn-success" ng-click="model.addBillingInformation(model.billingInformation)" ng-disabled="addBilingForm.$invalid">Agregar</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="model.cancelAction()">Cancelar</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>