<div class="account-container">
    <div class="content clearfix">
        <form name="recoverForm" ng-submit="model.loginUser()" novalidate>
            <h2>Recuperar Contraseña</h2>                        
            <div class="row">
            	<div class="col-sm-12">
	                <p>Por favor digita tu correo electrónico</p>
	                <div class="form-group input-group">
		                <span class="input-group-addon" for="name">E-Mail</span>
		                <input type="text" id="name" name="email" class="form-control" ng-model="model.email" ng-pattern="/^[A-Za-z0-9._%+]+@[A-Za-z0-9]+\.[A-Za-z]{1,5}$/" required>
		            </div>
            	</div>
            </div>
            <div class="row">
            	<div class="col-sm-12">
		            <div class="form-group ">
		            	<button type="button" class="btn btn-success" ng-click="model.recoverPass()">Recuperar</button>
		                <button type="button" class="btn btn-default" ng-click="model.goLogin()">Volver</button>
		            </div>
		        </div>
		    </div>
        </form>
    </div>
</div>
<!--<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Recuperar Contraseña</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form name="recoverForm" ng-submit="model.loginUser()" novalidate>
            <div class="form-group input-group">
                <span class="input-group-addon" for="name">Nombre</span>
                <input type="text" id="name" name="email" ng-model="model.email" ng-pattern="/^[A-Za-z0-9._%+]+@[A-Za-z0-9]+\.[A-Za-z]{1,5}$/" required>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-success" ng-click="model.recoverPass()">Recuperar</button>
                <button type="button" class="btn btn-default" ng-click="model.goLogin()">Volver</button>
            </div>
        </form>
    </div>
</div>

<!--<div layout="column" layout-align="center center" class="solo-box">
	<md-card class="basic-form">
	<div>
		<md-toolbar>
		<div class="md-toolbar-tools" layout-align="center center">
			<span class="md-flex">Recuperar Contraseña</span>
		</div>
		</md-toolbar>
	</div>
	<div>
		<form name="recoverForm" ng-submit="model.loginUser()" novalidate>
			
			<md-input-container flex>
			<label>Escriba su email</label>
			<input type="text" name="email" ng-model="model.email" ng-pattern="/^[A-Za-z0-9._%+]+@[A-Za-z0-9]+\.[A-Za-z]{1,5}$/" required>
			
			</md-input-container>
			
			<md-input-container flex>
			<md-button class="md-raised primary-btn" ng-click="model.recoverPass()" >Recuperar</md-button>
			<md-button class="md-raised primary-btn" ng-click="model.goLogin()" >Volver</md-button>
			</md-input-container>
		</form>
	</div>
	</md-card>
</div>-->