<div class="modal fade" role="dialog" id="addresslist" aria-labelledby="addresslist">
    <div class="modal-dialog {{BootstrapModal.config.modalSize}}">
        <div class="modal-content">
            <div class="modal-header" ng-show="BootstrapModal.showTitle()">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-show="BootstrapModal.config.buttons.close.show"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{BootstrapModal.config.title}}</h4>
            </div>
            <div class="modal-body">
            	<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group input-group">
					            <label class="input-group-addon" for="pickup">Dirección</label>
					            <input type="text" class="form-control" id="pickup" ng-model="modal.address" required>
					            <span class="input-group-btn">
					                <button class="btn btn-default" type="button" ng-click="modal.getPositionBy(modal.address)"><i class="fa fa-search"></i></button>
					            </span>
					      	</div>
				      	</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="list-group">
					            <a href="#" class="list-group-item">
					                <i class="fa fa-map-marker fa-fw"></i> New Comment
					            </a>
					        </div>
						</div>
					</div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-show="BootstrapModal.config.buttons.cancel.show" ng-click="BootstrapModal.config.buttons.cancel.action()">{{BootstrapModal.config.buttons.cancel.label}}</button>
                <button type="button" class="btn btn-success" ng-show="BootstrapModal.config.buttons.accept.show" ng-click="BootstrapModal.config.buttons.accept.action()">{{BootstrapModal.config.buttons.accept.label}}</button>
            </div>
        </div>
    </div>
</div>