<div class="panel panel-default account-container billing-container" style="margin-bottom: 40px;">
	<div class="panel-heading"><b>Pagos</b></div>
	<div ng-repeat="p in model.currentBillingInformation" class="panel-body">
		<span>
			<i class="fa fa-minus-square pull-right" ng-click="model.deletePaymentMethod(model.currentBillingInformation[$index])"></i>
			<!--<i class="icon-edit pull-right" data-toggle="modal" data-target="#addBilling" ng-click="model.editBillingInformation(model.currentBillingInformation[$index], 'Edit')"></i>-->
		</span>
		<br>
		<span>
			<b class="bold-block-info">**** {{p.card_last4}}</b>
			<!--<img src="http://icons.iconarchive.com/icons/glyphish/glyphish/32/192-credit-card-icon.png">-->
			<img src="assets/img/billing/american.png" ng-show="{{p.franchise === 'AMEX'}}">
			<img src="assets/img/billing/dinners.png" ng-show="{{p.franchise === 'DINERS'}}">
			<img src="assets/img/billing/mastercard.png" ng-show="{{p.franchise === 'MASTERCARD'}}">
			<img src="assets/img/billing/visa.png" ng-show="{{p.franchise === 'VISA'}}">
			<img src="assets/img/billing/visaelectron.png" ng-show="{{p.franchise === 'VE'}}">
		</span>
	</div>
	<div>
		<div class="add-block-button col-sm-9">
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addBilling">Agregar Tarjeta</button>
		</div>
	</div>
</div>
<dv-add-credit-card></dv-add-credit-card>