<div class="account-container">
    <div class="content clearfix">
        <form name="registerForm" ng-submit="model.createUser()" novalidate>
            <h1>Crear Cuenta</h1>                        
            <div class="row">
            	<div class="col-sm-12">
	                <p>Por favor ingresa tus datos</p>
	                <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Ingresa un email valido.</p>
					<p ng-show="registerForm.mobilephone.$invalid && !registerForm.mobilephone.$pristine" class="help-block">Ingresa un telefono valido.</p>
					<p ng-show="(!registerForm.password_verify.$pristine && !registerForm.password.$pristine) && model.user.password!=model.user.password_verify" class="help-block">Las contraseñas no coinciden.</p>

					<div class="form-group input-group">
	                    <label class="input-group-addon"><i class="fa icon-user fa-fw"></i></label>
	                    <input type="text" id="username" class="form-control" name="name" ng-model="model.user.name" placeholder="Nombre" class="login username-field" required/>
	                </div>
	                <div class="form-group input-group">
	                    <label class="input-group-addon"><i class="fa icon-user fa-fw"></i></label>
	                    <input type="text" id="username" class="form-control" name="lastname" ng-model="model.user.lastname" placeholder="Apellido" class="login username-field" required/>
	                </div>
	                <div class="form-group input-group">
	                    <label class="input-group-addon"><i class="fa icon-user fa-fw"></i></label>
	                    <input type="text" id="username" class="form-control" name="email" ng-model="model.user.email" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' placeholder="Correo Electrónico" class="login username-field" required/>
	                </div>
	                <div class="form-group input-group">
	                    <label class="input-group-addon"><i class="fa icon-key fa-fw"></i></label>
	                    <input type="password" id="password" class="form-control" name="password" ng-model="model.user.password" placeholder="Contraseña" class="login password-field" required/>
	                </div>
	                <div class="form-group input-group">
	                    <label class="input-group-addon"><i class="fa icon-key fa-fw"></i></label>
	                    <input type="password" id="password" class="form-control" name="password_verify" ng-model="model.user.password_verify" placeholder="Confirmar Contraseña" class="login password-field" required/>
	                </div>
	                <div class="form-group input-group">
	                    <label class="input-group-addon"><i class="fa icon-user fa-fw"></i></label>
	                    <input type="text" id="username" class="form-control" minlength="7" maxlength="10" name="mobilephone" ng-pattern="/^([0-9]| )+$/" ng-model="model.user.mobilephone" placeholder="Celular" class="login username-field" required/>
	                </div>
	                <div class="form-group input-group">
	                	<div class="checkbox">
						    <label><input type="checkbox" ng-model="model.user.checkDisclaimer" required> Aceptar Términos y Condiciones</label>
						 </div>
	                </div>
            	</div>
				<BR/>
            	<div class="col-sm-12">
            		<span>Al registrarte en Vueltap, tu aceptas nuestros <a href="{{model.endpoint}}GetDisclaimerPDF/user" target="_blank">Términos y Condiciones</a>. Tus datos estan bajo <a href="{{model.endpoint}}GetPDFDocument/data_policy" target="_blank">Políticas de Tratamiento de Datos Personales</a>.</span>
            	</div>
            </div>
            <div class="login-actions">
                <button class="button btn btn-success btn-large" ng-disabled="registerForm.$invalid">Crear</button>
            </div>
            
        </form>
    </div>
</div>
<dv-add-credit-card></dv-add-credit-card>