<div class="account-container">
    <div class="content clearfix">
        <form name="registerForm" ng-submit="model.createUser()" novalidate>
            <h1>Crear Cuenta</h1>                        
            <div class="row">
            	<div class="col-sm-12">
	                <p>Por favor ingresa tus datos</p>
	                <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Ingresa un email valido.</p>
	                <div class="form-group input-group">
	                    <label class="input-group-addon"><i class="fa icon-user fa-fw"></i></label>
	                    <input type="text" id="username" class="form-control" name="name" ng-model="model.user.name" placeholder="Nombre" class="login username-field" required/>
	                </div>
	                <div class="form-group input-group">
	                    <label class="input-group-addon"><i class="fa icon-user fa-fw"></i></label>
	                    <input type="text" id="username" class="form-control" name="lastname" ng-model="model.user.lastname" placeholder="Apellido" class="login username-field" required/>
	                </div>
	                <div class="form-group input-group">
	                    <label class="input-group-addon"><i class="fa icon-user fa-fw"></i></label>
	                    <input type="text" id="username" class="form-control" name="email" ng-model="model.user.email" ng-pattern="/^[A-Za-z0-9._%+]+@[A-Za-z0-9]+\.[A-Za-z]{1,5}$/" placeholder="Correo Electrónico" class="login username-field" required/>
	                </div>
	                <div class="form-group input-group">
	                    <label class="input-group-addon"><i class="fa icon-key fa-fw"></i></label>
	                    <input type="password" id="password" class="form-control" name="password" ng-model="model.user.password" placeholder="Contraseña" class="login password-field" required/>
	                </div>
	                <div class="form-group input-group">
	                    <label class="input-group-addon"><i class="fa icon-key fa-fw"></i></label>
	                    <input type="password" id="password" class="form-control" name="password_verify" ng-model="model.user.password_verify" placeholder="Confirmar Contraseña" class="login password-field" required/>
	                </div>
	                <div class="form-group input-group">
	                    <label class="input-group-addon"><i class="fa icon-user fa-fw"></i></label>
	                    <input type="text" id="username" class="form-control" maxlength="10" name="mobilephone" ng-model="model.user.mobilephone" placeholder="Celular" class="login username-field" required/>
	                </div>
	                <div class="form-group input-group">
	                	<div class="checkbox">
						    <label><input type="checkbox" ng-model="model.user.checkDisclaimer" required> Aceptar Términos y Condiciones</label>
						 </div>
	                </div>
            	</div>
				<BR/>
            	<div class="col-sm-12">
            		<span>Al registrarte en Vueltapp, tu aceptas nuestros <a href="{{model.endpoint}}GetDisclaimerPDF/user" target="_blank">Términos y Condiciones</a>. Tus datos estan bajo política de privacidad.</span>
            	</div>
            </div>
            <div class="login-actions">
                <button class="button btn btn-success btn-large" ng-disabled="registerForm.$invalid">Crear</button>
            </div>
            
        </form>
    </div>
</div>

<div class="modal sign-up-modal billing-container" id="addBilling" ng-show="model.showBillingModal">
	<div class="content clearfix model-dialog" role="document">
		<form class="form-horizontal modal-content" role="form" name="addBilingForm" novalidate>
			<fieldset>
			  <legend>Agregar tarjeta</legend>
			  <!--<div class="form-group">
				<label class="col-sm-4 control-label" for="card-holder-name">Titular tarjeta</label>
				<div class="col-sm-6">
				  <input type="text" ng-model="model.billingInformation.cardHolderName" class="form-control" name="card-holder-name" id="card-holder-name" maxlength="50" placeholder="Titular tarjeta">
				</div>
			  </div>-->
			  <div class="form-group" ng-if="!model.isEditing">
				<label class="col-sm-4 control-label" for="card-number">Número tarjeta</label>
				<div class="col-sm-6">
				  <input type="text" ng-model="model.billingInformation.cardNumber" ng-change="model.getFranchise(model.billingInformation.cardNumber)" ng-pattern="/^([0-9]| )+$/" minlength="14" maxlength="16" class="form-control" name="cardNumber" id="card-number" placeholder="Número tarjeta" required>
				</div>
				<img src="assets/img/billing/american.png" ng-show="model.currentFranchise === 'AM'">
				<img src="assets/img/billing/dinners.png" ng-show="model.currentFranchise === 'DI'">
				<img src="assets/img/billing/mastercard.png" ng-show="model.currentFranchise === 'MC'">
				<img src="assets/img/billing/visa.png" ng-show="model.currentFranchise === 'VI'">
				<img src="assets/img/billing/visaelectron.png" ng-show="model.currentFranchise === 'VE'">
			  </div>
			  <p ng-show="addBilingForm.cardNumber.$error.pattern && !addBilingForm.cardNumber.$pristine" class="text-danger info-fix">Ingresa un número de tarjeta válido.</p>
			  <div class="form-group">
				<label class="col-sm-4 control-label fix-label" for="expiry-month">Fecha vencimiento</label>
				<div class="col-sm-6">
				  <div class="row">
					<div class="col-xs-5">
					  <select class="form-control col-sm-2" ng-model="model.billingInformation.expiryMonth" name="expiry-month" id="expiry-month" required>
						<option ng-if="!model.billingInformation.expiryMonth" value="" selected>Mes</option>
						<option value="01">Ene (01)</option>
						<option value="02">Feb (02)</option>
						<option value="03">Mar (03)</option>
						<option value="04">Abr (04)</option>
						<option value="05">May (05)</option>
						<option value="06">Jun (06)</option>
						<option value="07">Jul (07)</option>
						<option value="08">Ago (08)</option>
						<option value="09">Sep (09)</option>
						<option value="10">Oct (10)</option>
						<option value="11">Nov (11)</option>
						<option value="12">Dic (12)</option>
					  </select>
					</div>
					<div class="col-xs-5">
					  <select class="form-control" ng-model="model.billingInformation.expiryYear" name="expiry-year" required>
					  	<option ng-if="!model.billingInformation.expiryYear" value="" selected>Año</option>
						<option value="15">2015</option>
						<option value="16">2016</option>
						<option value="17">2017</option>
						<option value="18">2018</option>
						<option value="19">2019</option>
						<option value="20">2020</option>
						<option value="21">2021</option>
						<option value="22">2022</option>
						<option value="23">2023</option>
						  <option value="24">2024</option>
						  <option value="25">2025</option>
					  </select>
					</div>
				  </div>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-4 control-label" for="cvv">Código CVV</label>
				<div class="col-sm-4">
				  <input type="text" class="form-control" ng-pattern="/^([0-9]| )+$/" minlength="3" maxlength="4" ng-model="model.billingInformation.securityCode" name="cvv" id="cvv" placeholder="Código seguridad" required>
				</div>
			  </div>
			  <p ng-show="addBilingForm.cvv.$error.pattern && !addBilingForm.cvv.$pristine" class="text-danger info-fix">Ingresa un código de seguridad válido.</p>
			  <div class="form-group">
				<div class="add-block-button col-sm-9">
				  <button type="button" class="btn btn-success" ng-click="model.addBillingInformation(model.billingInformation)" ng-disabled="addBilingForm.$invalid" data-dismiss="modal">Agregar</button>
				  <button type="button" class="btn btn-danger"data-dismiss="modal" ng-hide="!model.isEditing">Eliminar</button>
				  <button type="button" class="btn btn-danger"data-dismiss="modal" ng-hide="model.isEditing" ng-click="model.skipBilling()">Agregar después</button>
				</div>
			  </div>
			</fieldset>
	    </form>
	</div>
</div>