<div layout="column" layout-align="center center" class="solo-box">
	<md-card class="big-form">
		<div>
			<md-toolbar>
			<div class="md-toolbar-tools" layout-align="center center">
				<span class="md-flex">Mi perfil</span>
			</div>
			</md-toolbar>
		</div>
		<div id="infoContainer">
			<form>
				<label class="titleField">Nombre:</label>
				<md-input-container flex>  <input class="textField" name="newName" ng-model="model.User.name" required>  </md-input-container>
				<label class="titleField">Apellido:</label>
				<md-input-container flex>  <input class="textField" name="newLastname" ng-model="model.User.lastname"  required>  </md-input-container>
				<label class="titleField">Número Celular:</label>
				<md-input-container flex>  <input class="textField" name="newMobilephone" ng-model="model.User.mobilephone" required>  </md-input-container>
				
				<md-button class="md-raised primary-btn" ng-click="model.updateProfile()" >Actualizar mis datos</md-button>
				<br/>
				<md-button class="md-raised primary-btn" ng-click= "model.goChangePassword()" >Cambiar Contraseña</md-button>
			</form>
		</div>
	</md-card>
</div>