<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Mi Perfil</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form role="form" name="profileForm" novalidate>
            <div class="form-group input-group">
                <span class="input-group-addon" for="name">Nombres</span>
                <input type="text" id="name" class="form-control" ng-model="model.User.name" required>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon" for="lastname">Apellidos</span>
                <input type="text" id="lastname" class="form-control" ng-model="model.User.lastname" required>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon" for="celphone">Celular</span>
                <input type="text" maxlength="10" id="celphone" class="form-control" ng-model="model.User.mobilephone" required>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-success" ng-click="model.updateProfile()">Guardar Cambios</button>
                <button type="button" class="btn btn-default" ng-click="model.goChangePassword()" >Cambiar Contraseña</button>
            </div>
        </form>
    </div>
</div>


