<div layout="column" layout-align="center center" class="solo-box">
	<md-card class="big-form">
		<div>
			<md-toolbar>
			    <div class="md-toolbar-tools" layout-align="center center">
			    	<span class="md-flex">Detalles del Servicio</span>
			    </div>
			</md-toolbar>
		</div>
		
		<md-card id="serviceDetailsContainer" ng-show="model.messengerBool">
			<label>Nombre de Servicio</label>
			<h6 ng-model="model.serviceName">{{model.serviceName}}</h6>
			<label>Lugar de Recogida</label>
			<h6 ng-model="model.pickupAddress">{{model.pickupAddress}}</h6>
			<label>Lugar de Entrega</label>
			<h6 ng-model="model.deliveryAddress">{{model.deliveryAddress}}</h6>
			<label>Fecha de Recogida</label>
			<h6 ng-model="model.pickupDate">{{model.pickupDate}}</h6>
			<label>Valor Aproximado del Servicio</label>
			<h6 ng-model="model.serviceCost">{{model.serviceCost}}</h6>
		</md-card>
		<md-card id="findingMessengerContainer" ng-show="!model.messengerBool">
		<p>Estamos encontrando un mensajero para tu servicio. Si deseas puedes salir de esta pantalla y acceder al estado del servicio desde el menú "EL MENUUUUUUU"</p>
		<br/>
		<md-progress-circular md-mode="indeterminate" ></md-progress-circular>
		<br/>
		<p>Buscando Mensajero</p>
		</md-card>
		<md-card id="messengerInfoContainer" ng-show="model.messengerBool">
		<div >
			<div class="img-text-container">
				<img ng-src="{{model.messengerImage}}">
				<div>
					<label>Conductor</label><br>
					<label ng-model="model.messengerName">{{model.messengerName}}</label><br>
					<label ng-model="model.messengerMobilephone">{{model.messengerMobilephone}}</label><br>
				</div>
			</div>
		</div>
		</md-card>
		<md-card id="photoContainer" ng-show="model.imageBool">
			<label>Fotos del Servicio</label>
			<ul>
				<li ng-repeat="images in model.images"></li>
			</ul>
		</md-card>
		<md-card id="serviceStatusContainer" ng-show="model.messengerBool">
			<label>Estado actual del Servicio</label><br/>
			<label ng-model="model.serviceStatus">{{model.serviceStatus}}</label><br/>
		
		</md-card>
		<button>Reactivar Servicio</button>
		<button>Cancelar Servicio</button>
	</md-card>
	<div>