/* Less file for serviceDetails*/
.img-text-container {
	vertical-align: top;

	* {
		display: inline-block;
	}
}
#serviceDetailsContainer {
	label {
		margin-top: 5px;
		margin-bottom: 0px;
	}
	h6{
		
	}

}

.inline-cards{
	display: inline-block;
  width: 30%;
  box-shadow: 1px 0px 1px 0px rgba(0,0,0,.1);
}
.img-text-container{
	img {
		width: 20vw;
		display: block;
		margin-left: auto;
    	margin-right: auto;
	}
}

#dataContainer{
	/*word-wrap: break-word;*/
	 text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.blueButton{
	background-color: #00bcd4;
	color:white;


}
#serviceStatus{
	font-size: 30px;
	color: #00bcd4;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#serviceStatusContainer {
	text-align: center;
}
#progressCricular{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#searching{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#blueButton{
	width: 180px;
	margin: 0 auto;
	margin-top: 20px;
	background: @primaryColor !important;
	color: white !important;
		display: block;
		margin-left: auto;
    	margin-right: auto;
}
#redButton{
	width: 180px;
	margin: 0 auto;
	margin-top: 20px;
	background: #FF0000!important;
	color: white !important;
		display: block;
		margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 15px;
}
#reloadButton{
	margin-left: 100px;
	  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.5);
}
#titleServiceDetails{
	margin-left: 100px;
}

#photoContainer div {
	overflow-x: scroll;
}

.gallery-container * {
	vertical-align: top;
}
.gallery-container {
	text-align: left;
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;

	height: 100px;
	overflow-y: hidden;
	overflow-x: scroll;

	.img-resize{
	    display: inline-block;

	    img {
	    	padding: 3px;
	    	width: 100px;
	    }
	}
}