/* Less file for serviceDetails*/
.img-text-container {
	vertical-align: top;

	* {
		display: inline-block;
	}
}
#serviceDetailsContainer {
	label {
		margin-top: 5px;
		margin-bottom: 0px;
	}
	h6{
		
	}

}

.inline-cards{
	display: inline-block;
  width: 30%;
  box-shadow: 1px 0px 1px 0px rgba(0,0,0,.1);
}
.img-text-container{
	img {
		width: 20vw;
		display: block;
		margin-left: auto;
    	margin-right: auto;
	}
}

#dataContainer{
	/*word-wrap: break-word;*/
	 text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.blueButton{
	background-color: #00bcd4;
	color:white;


}
#serviceStatus{
	font-size: 30px;
	color: #00bcd4;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#progressCricular{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#searching{
	display: block;
	margin-left: auto;
	margin-right: auto;
}