<div layout="column" layout-align="center center" class="solo-box">
	<md-card class="big-form">
		<div>
			<md-toolbar>
			    <div class="md-toolbar-tools" layout-align="center center">
			    	<span class="md-flex">Servicios Abortados</span>
			    </div>
			  </md-toolbar>
		</div >
			<md-card class="md-default-theme" ng-repeat="item in model.deliveryItems" ng-click="model.goToServiceDetails(item._id)">
				<div id="containerInfo">
				<label class="titleInsideCards"> Pedido</label>			
				<h6 class="textInsideCards">{{item.item_name}}</h6>		
				<label class="titleInsideCards"> Dirección de recogida</label>
				<h6 class="textInsideCards">{{item.pickup_object.address}}</h6>
				<label class="titleInsideCards"> Dirección de Entrega</label>
				<h6 class="textInsideCards">{{item.delivery_object.address}}</h6>
			</div>
			</md-card>
	</md-card>
</div>