<div layout="column" layout-align="center center" class="solo-box">
	<md-card class="basic-form">
		<div>
			<md-toolbar>
			    <div class="md-toolbar-tools" layout-align="center center">
			    	<span class="md-flex">Solicitar Servicio</span>
			    </div>
			  </md-toolbar>
		</div>
	    <div>
			<form name="requestMessengerForm" ng-submit="model.requestMessenger()" novalidate>
				<md-card>
					<md-input-container flex>
						<label>Nombre de Servicio</label>
		            	<input name="email" ng-model="model.user.item_name" required>
		        	</md-input-container>
		        	<md-input-container flex id="geo-cositas">
						<label>Dirección de Recogida</label>
		            	<input name="email" ng-model="model.user.pickup_object" required ng-click="model.getLocation()">
		        	</md-input-container>
		        	<md-content ng-if="model.user.pickup_object" class="md-padding" style="height: 360px;padding: 14px;">
		        		<!-- <input type="number" ng-model="lat">
						<input type="number" ng-model="lng"> -->
						<!-- <input type="text" ng-model="ome"> -->
						<!-- {{ome}} -->
						<user-map class="map-container">
							<div class="map" id="map" ng-cloak></div>
						</user-map>
		        	</md-content>
		        	<md-input-container flex>
						<label>Dirección de Entrega</label>
		            	<input name="email" ng-model="model.user.delivery_object" required>
		        	</md-input-container>
		        	<md-switch aria-label="Ida y Vuelta" ng-model="model.user.roundtrip">
					    Ida y Vuelta
					</md-switch>
					<md-button class="md-raised v-margin-btn" href="#">Historial de direcciones</md-button>
				</md-card>
				<md-card>
					<md-input-container flex>
						<label>Dia y hora de Recogida</label>
		            	<input name="email" type="date" ng-model="model.user.pickup_time" required>
		        	</md-input-container>
		        	<md-input-container flex>
						<label>Dia y hora de Entrega</label>
		            	<input name="email" type="date" ng-model="model.user.deadline" required>
		        	</md-input-container>
		        	<md-input-container flex>
						<label>Valor declarado de la mercancia</label>
		            	<input name="email" ng-model="model.user.declared_value" placeholder="min. $1.000" required>
		        	</md-input-container>
		        	<md-input-container flex>
						<label>Instrucciones para mensajero</label>
		            	<textarea name="email" ng-model="model.user.instructions" required></textarea>
		        	</md-input-container>
				</md-card>
				<md-toolbar class="md-primary" layout-align="center center">
				    <span layout-align="center center">
				    	Valor del servicio
				    </span>
				    <span layout-align="center center">
				    	COP $1.000
				    </span>
				</md-toolbar>
	        	<md-input-container flex>
	        		<md-button class="md-raised primary-btn">Solicitar</md-button>
	        	</md-input-container>
			</form>
	    </div>
	    <md-divider></md-divider>
	</md-card>
</div>
