<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Solicitar Servicio</h1>
    </div>
</div>
<form name="requestMessengerForm" novalidate>
	<div class="row">
		<div class="col-lg-6">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group input-group">
		                <label class="input-group-addon" for="servName">Nombre del Servicio</label>
		                <input type="text" class="form-control" id="servName" name="servName" ng-model="model.delivery.item_name" required>
		            </div>
	        	</div>
        	</div>
            <div class="row">
            	<div class="col-sm-12">
            		<div class="panel panel-default">
                        <div class="panel-heading"><b>Direcciones</b></div>
                        <div class="panel-body">
                        	<div class="form-group input-group">
				                <label class="input-group-addon" for="pickup">Recogida</label>
				                <input type="text" class="form-control" id="pickup" ng-model="pickup_address" ng-change="model.searchGoogleAddresses(true,false,pickup_address)" required ng-blur="model.cleanAddressList();" ng-focus="model.setMapPickupAddress()">
                          	</div>
							<div ng-show="model.isSearchingPickupAddress" >
								<li ng-repeat="googleAddress in model.addressListFromGoogle">
									<spam class="textField">{{googleAddress.formatted_address.replace('Bogotá, Bogotá, Colombia','')}}
										<a class="textfield" href="" ng-click="model.updateAddressInMap(true,googleAddress)">Seleccionar</a>
									</spam>
								</li>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" ng-model="model.delivery.pickup_details" placeholder="Apto, Conjunto, Edificio de Recogida (Opcional)">
							</div>
                          	<div class="form-group input-group">
				                <label class="input-group-addon" for="delivery">Entrega</label>
				                <input type="text" class="form-control" id="delivery" ng-model="delivery_address" ng-change="model.searchGoogleAddresses(false,true,delivery_address)" required ng-blur="model.cleanAddressList();"  ng-focus="model.setMapDeliveryAddress()">
				            </div>
							<div ng-show="model.isSearchingDeliveryAddress" >
								<li ng-repeat="googleAddress in model.addressListFromGoogle">
									<spam class="textField">{{googleAddress.formatted_address.replace('Bogotá, Bogotá, Colombia','')}}
										<a class="textfield" href="" ng-click="model.updateAddressInMap(false,googleAddress)">Seleccionar</a>
									</spam>
								</li>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" ng-model="model.delivery.delivery_details" placeholder="Apto, Conjunto, Edificio de Entrega (Opcional)">
							</div>
							<div class="form-group">
								<label class="radio-inline">
									<input type="checkbox" name="momentoRecogida" ng-model="model.delivery.roundtrip"> <i class="fa fa-exchange"></i> Ida y Vuelta
								</label>
							</div>
				            <div class="form-group">
				            	<delivery-map class="map-container" callback="setLatLong(lat1, lon1,lat2, lon2,valueBool)" messengers="model.messengers" delivery="model.delivery" pickup="model.pickup"></delivery-map>
				            </div>
		            		<div class="panel panel-default">
		                        <div class="panel-heading"><button type="button" class="btn btn-default btn-sm btn-block" ng-click="model.isShowing('showAddressBool')">Direcciones Recientes</button></div>
		                        <div class="panel-body" ng-show="model.showAddressBool">
				            		<label class="titleField">Direcciones de Recogida</label>
									<ul>
										<li ng-repeat="pickup in model.pickUpAddressSave">
											<spam class="textField">{{pickup.address}}</spam>
											<span style="float: right;">
												<a class="textfield" href="" ng-click="useAddress('pickup', pickup)">Recogida</a> | 
												<a class="textfield" href="" ng-click="useAddress('delivery', pickup)">Entrega</a>
											</span>
										</li>
									</ul>
									<label class="titleField" >Direcciones de Entrega</label>
									<ul>
										<li ng-repeat="delivery in model.deliveryAddressSave">
											<spam class=" textField">{{delivery.address}}</spam>
											<span style="float: right;">
												<a class="textfield" href="" ng-click="useAddress('pickup', delivery)">Recogida</a> | 
												<a class="textfield" href="" ng-click="useAddress('delivery', delivery)">Entrega</a>
											</span>
										</li>
									</ul>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="col-lg-6">
			<!--<div class="row">
            	<div class="col-sm-6">
	            	<div class="panel panel-default">
                        <div class="panel-heading"><b>Momento de Recogida</b></div>
                        <div class="panel-body">
                        	<label class="radio-inline">
		                        <input type="radio" name="momentoRecogida" ng-model="model.delivery.time_to_deliver" value="now" required><i class="fa fa-flash"></i> Inmediato
		                    </label>
		                    <label class="radio-inline">
		                        <input type="radio" name="momentoRecogida" ng-model="model.delivery.time_to_deliver" value="later"><i class="fa icon-time"></i> Durante el Día
		                    </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><b>Momento de Entrega</b></div>
                        <div class="panel-body">
                        	<label class="radio-inline">
		                        <input type="radio" name="momentoEntrega" ng-model="model.delivery.time_to_pickup" value="now" required><i class="icon-large fa-flash"></i> Inmediato
		                    </label>
		                    <label class="radio-inline">
		                        <input type="radio" name="momentoEntrega" ng-model="model.delivery.time_to_pickup" value="later"><i class="icon-large icon-time"></i> Durante el Día
		                    </label>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="row">
            	<div class="col-sm-12">
		            <div class="form-group input-group">
		                <label class="input-group-addon" for="sendImg">
		                	<input type="checkbox" id="sendImg" ng-model="model.delivery.send_image">
		                </label>
		                <label class="form-control" for="sendImg">
                            <i class="fa fa-picture-o"></i> Foto Obligatoria
                        </label>
		            </div>
		            <div class="form-group input-group">
		                <label class="input-group-addon" for="sendSignature">
		                	<input type="checkbox" id="sendSignature" ng-model="model.delivery.send_signature">
		                </label>
		                <label class="form-control" for="sendSignature">
                            <i class="fa fa-edit"></i> Firma Obligatoria
                        </label>
		            </div>
					<div class="form-group input-group">
						<label class="input-group-addon" for="insurance" ng-click="model.insuranceSelectionChanged()">
							<input type="checkbox" id="insurance" ng-model="model.delivery.insurance" ng-click="model.insuranceSelectionChanged()">
						</label>
						<label class="form-control" for="insurance">
							<i class="fa fa-edit"></i> Asegurar
						</label>
					</div>

		            <div class="panel panel-default" ng-click="model.insuranceSelectionChanged()">
                        <div class="panel-heading">
                        	Selecciona el monto del seguro
                        </div>
                        <div class="panel-body">
							<div class="form-group">
								<select class="form-control" ng-disabled="!model.delivery.insurance" ng-model="model.delivery.insurancevalue" ng-change="model.insuranceSelectionChanged()">
									<option value="0">Elige el valor a asegurar</option>
									<option value="100000">Hasta $100.000</option>
									<option value="200000">Hasta $200.000</option>
									<option value="300000">Hasta $300.000</option>
									<option value="400000">Hasta $400.000</option>
									<option value="500000">Hasta $500.000</option>
									<option value="600000">Hasta $600.000</option>
									<option value="700000">Hasta $700.000</option>
									<option value="800000">Hasta $800.000</option>
									<option value="900000">Hasta $900.000</option>
									<option value="1000000">Hasta $1.000.000</option>
									<option value="1100000">Hasta $1.100.000</option>
									<option value="1200000">Hasta $1.200.000</option>
									<option value="1300000">Hasta $1.300.000</option>
									<option value="1400000">Hasta $1.400.000</option>
									<option value="1500000">Hasta $1.500.000</option>
									<option value="1600000">Hasta $1.600.000</option>
									<option value="1700000">Hasta $1.700.000</option>
									<option value="1800000">Hasta $1.800.000</option>
									<option value="1900000">Hasta $1.900.000</option>
									<option value="2000000">Hasta $2.000.000</option>
								</select>
                        	</div>
                        </div>
                    </div>
				</div>

				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading"><b>Método de Pago</b></div>
						<div class="panel-body">
							<label class="radio-inline">
								<input type="radio" name="metodoPago" ng-model="model.delivery.payment_method" value="cash" required><i class="fa fa-money"></i> Pago Corporativo
							</label>
							<label class="radio-inline">
								<input type="radio" name="metodoPago" ng-model="model.delivery.payment_method" value="credit" required><i class="fa  fa-credit-card"></i> Pago con Tarjeta
							</label>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading"><b>Instrucciones para el Mensajero</b></div>
						<div class="panel-body">
							<textarea class="form-control" name="instructions" ng-model="model.delivery.instructions" required></textarea>
						</div>
					</div>
				</div>
				<br>
				<div class="col-sm-12">
                    <div class="alert alert-success">
						<span layout-align="center center"><span>Valor del Seguro:</span><strong>{{model.delivery.insurance_price|currency:"COP$"}}</strong></span><br>
						<span layout-align="center center"><span>Valor del Servicio:  </span><strong>{{deliveryPrice|currency:"COP$"}}</strong></span><br>
						<span layout-align="center center"><span>Total a Pagar:       </span><strong>{{(deliveryPrice+model.delivery.insurance_price)|currency:"COP$"}}</strong></span><br>
					</div>
            	</div>
            	
            </div>
		</div>
	</div>
	<div class="row form-group">
		<button type="submit" class="btn btn-success btn-lg btn-block" ng-click="model.requestMessenger()">Solicita tu Vueltap</button>
	</div>
</form>
<dv-add-credit-card></dv-add-credit-card>
<div class="modal fade billing-container" id="searchAddress" role="dialog">
	<div class="content clearfix model-dialog" role="document">
		<form class="form-horizontal modal-content" role="form" name="addBilingForm2" novalidate>
			<fieldset>
				<legend>Busqueda de Direcciones</legend>
				<div class="form-group">
					<label class="col-sm-4 control-label">Ingrese una Dirección</label>
					<div class="col-sm-6">
						<input type="text" ng-model="model.searchAddressField" ng-change="model.searchGoogleAddresses(model.searchAddressField)" class="form-control" required>
					</div>
				</div>
				<div>
					<label class="titleField">Resultados de Busqueda</label>
					<ul>
						<li ng-repeat="googleAddress in model.addressListFromGoogle">
							<spam class="textField">{{googleAddress.formatted_address}}</spam>
											<span style="float: right;">
												<a class="textfield" href="" ng-click="model.updateAddressInMap(true,googleAddress)">Recogida</a> |
												<a class="textfield" href="" ng-click="model.updateAddressInMap(false,googleAddress)">Entrega</a>
											</span>
						</li>
					</ul>
				</div>
				<div class="form-group">
					<div class="add-block-button col-sm-9">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<a class="brand" align="right" target="_blank" href="http://www.placetopay.com">
			<img src="assets/img/logo-p2p.png">
		</a>
		<a class="brand" align="right" target="_blank" href="{{model.serviceEndpoint}}GetPDFDocument/faq_p2p">
			Preguntas Frecuentes Place To Pay
		</a>
	</div>
</div>