<div class="account-container">
    <div class="content clearfix">
        <form name="loginForm" ng-submit="model.loginUser(loginForm)" novalidate>
            <h1>Iniciar Sesión</h1>                        
            <div class="row">
            	<div class="col-sm-12">
	                <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Ingresa un email valido.</p>
	                <div class="form-group input-group" for="username" >
	                    <label class="input-group-addon"><i class="fa icon-user fa-fw"></i></label>
	                    <input type="text" id="username" class="form-control" name="email" ng-model="model.user.email" ng-pattern="/^[A-Za-z0-9._%+]+@[A-Za-z0-9]+\.[A-Za-z]{1,5}$/" placeholder="Email" class="login username-field" required/>
	                </div>
	                <div class="form-group input-group" for="password">
	                    <label class="input-group-addon"><i class="fa icon-key fa-fw"></i></label>
	                    <input type="password" id="password" class="form-control" name="password" ng-model="model.user.password" placeholder="Contraseña" class="login password-field" required/>
	                </div>
            	</div>
            </div>
            <div class="login-actions">
                <button class="button btn btn-success btn-large" id="login-btn">Iniciar Sesión</button>
                <span class="login-checkbox">
                    <input id="Field" name="Field" type="checkbox" class="field login-checkbox" ng-change="model.rememberUser(model.rememberMe)" ng-model="model.rememberMe" tabindex="4" />
                    <label class="choice" for="Field">Recordar en este equipo</label>
                    <span class="login-extra">
					    <a href="" ng-click="model.recoverPassword()">Olvidé mi contraseña</a>
					</span>
                    <span class="login-extra">
                        <a href="" ng-click="model.createAccount()">Crear cuenta</a>
                    </span>
                </span>
            </div>
        </form>
    </div>
</div>

